dialog {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

dialog:open {
  opacity: 1;
  transform: scaleY(1);
}

@starting-style {
  dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}


.food-description-container {
 display: flex;
 flex-direction: row;
}

.food-description-picture {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 50px;
}

.food-name {
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
}

.food-price {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.original-price {
  text-decoration: line-through;
  color: grey;
  font-weight: 500;
  font-size: 15px;
}

.discounted-price {
  padding-left: 6px;
}

.buy-button {
  border-radius: 15px ;
  border-style: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  background-color: #ffea00; 
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 0;
  color: rgb(0,0,0);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.buy-button:hover {
  background-color: #ffd500;
}

.description {
  padding-top: 20px;
}

.description-heading {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 600px;
}

.description-content {
  padding-right: 200px;
  font-size: 18px;
  font-weight: lighter;
}

.veg-non-veg {
  display: inline-block;
  align-items: center;
}

.food-sticker {
  padding-top: 10px;
  padding-left: 15px;
  width: 25px;
}

.veg-non {
  font-weight: 300;
}

.ingredients-heading {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600px;
}

.ingredients-content {
  padding-top: 10px;
  padding-right: 200px;
  font-size: 18px;
  font-weight: lighter;
}

.nutrients-heading {
  font-size: 20px;
  font-weight: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nutrients-content {
  display: grid;
  grid-template-columns: 100px 80px 80px 80px 100px;
  column-gap: 20px;
  align-items: center;
}

.nutrients-number {
  padding-left: 15px;
  font-size: 25px;
}