* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin-top: 120px;
  overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

@supports not (scroll-behavior: smooth) {
  html {
    scroll-behavior: auto;

  }
}


.name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: sticky;
  top: 88.7px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 15px;
  z-index: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(205, 205, 205);
  margin-left: 80px;
  margin-right: 100px;
  width: 92%;
}

.content-bar {
  align-items: center;
  font-size: 20px;
  font-weight: 20px;
  width: 100%;
}

.food-preview {
  width: 300px;
  margin-left: 40px;
  margin-bottom: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.food-preview-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 15px;

}

.sidebar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: sticky;
  top: 148px;
  display: inline-block;
  border-right: 1px solid black;


}

.sidebar-list a {
  display: inline-block;
  position: relative;
  list-style: none;
  margin-left: 100px;
  margin-right: 30px;
  font-weight: 300;
  padding-top: 20px;
  text-decoration: none;
  color: rgb(55, 55, 55);
}



.sidebar-list a::after {
  content: '';
  height: 3px;
  font-size: 17px;
  width: 0%;
  left: 0;
  bottom: -8px;
  background: rgb(255, 158, 47);
  position: absolute;
  transition: 0.10s;
}

.sidebar-list a:hover::after {
  font-size: 30px;
  width: 100%;
}

#AroundTheGlobe {
  width: 1000px;
  height: 145px;
  object-fit: cover;
  object-position: center right;
}

.food-item-list {
  margin-left: 100px;
  padding-top: 30px;
}

.food-type-name-1 {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding-top: 30px;
  color: black;
}

.food-type-name {
  font-size: 30px;
  font-weight: bolder;
  margin-left: 360px;
  display: inline-block;
}


.food-1-preview {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 300px;
  padding-bottom: 15px;
  margin: 20px;
}

.food-picture {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  ;
  max-height: 150px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out, border-radius 0.2s;
}

.food-picture:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.food-description {
  padding-left: 5px;
  object-fit: cover;
}

.food-sub-description {
  display: flex;
  align-items: center;

}

.food-name {
  font-size: 20px;
  color: rgb(100, 100, 100);
  padding-bottom: 5px;
  padding-top: 6px;
  font-weight: bold;
}

.food-price {
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 17px;

}

.food-original-price {
  text-decoration: line-through 1.3px;
  color: rgb(160, 160, 160);
  padding-bottom: 25px;
  padding-right: 100px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
}

.buy-button {

  margin-left: 4vh;
  border-radius: 15px;
  border-style: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffea00;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.4s;
}


.buy-button:hover {
  background-color: #ffbb00;
}

.fas.fa-user-alt {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}